# --- UI & Visualization ---
streamlit
matplotlib

# --- Core Math & Logic ---
numpy

# --- Testing ---
pytest

# --- Machine Learning (Training) ---
torch
tensorboard

# --- Machine Learning (Cloud Inference) ---
onnx
onnxruntime